/* reset default margin */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #f0f0f0
}

/* adjust margin for h1 */
h1 {
    margin-top: 3rem;
}

/* flex container */
#main {
   /* display: flex; */
   height: 100vh;
   background-image: linear-gradient(to right, #fff, #5F7161, #000);
}

/* branding styles */
.brand {
    color: #CFFF8D;
    font-family: 'Bruno Ace', cursive;
    position: absolute;
    left: 1%;
    font-size: 1.5rem;
    align-items: center;
   
}

/* left background */
#back1 {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to right, #fff, #5F7161);
}

/* right background */
#back2 {
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to right, #CFFF8D, #5F7161, #000);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* navigation list styles */
#list {
    display: flex;
    text-align: center;
   justify-content: space-around;
    margin: 0 30%;
    list-style: none;
    font-size: large;
    margin-top: 3rem;
    font-weight: bold;
}

/* bottom navigation list styles */
#listB {
    display: flex;
   
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: large;
}

/* anchor link styles */
a {
    color: #E9EDC9;
    text-decoration: none;
}

/* anchor link hover styles */
a:hover {
    color: #CFFF8D;
}

/* z-index container styles */
#zIndex {
 
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 1;
    width: 90%;
    background-color: #454545c7;
    min-height: 90vh;
    padding: 1rem;
    margin-bottom: 0;
    
}


/* circle effect on z-index container */
#zIndex::before {
    content: "";
    position: absolute;
    top: 212px;
    left: 265px;
    height: 120px;
    width: 120px;
    background-color: #CFFF8D;
    border-radius: 50%;
    filter: blur(23px);
}
.card{
  background-color: transparent;
}


/* bold text on hover for specific links */
.secLink:hover, .firstLink:hover, .thirdLink:hover {
    font-weight: bold;
}

/* navigation link container styles */
.link {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15%;
}
.links{
  -webkit-user-select: none;
  user-select: none;
}
/* navigation container styles */
 #nav {
    display: flex;
position:fixed;
margin: 0 5%;
top: 0;
z-index: 2;
background-color: #5F7161;
justify-content: center;
padding-top:1% ;
width: 90%;
    align-items: center;
    /* margin-top: 1.25rem; */
    -webkit-user-select: none;
    user-select: none;
}

.ujFlat{
  margin-top: 2rem;
  height: 190px;
  width: 100%;
  opacity: 0.79;
  
 
}

/* styling for left content area */
#content1 {
    width: 100%;
    color: #fff;
    
    
  
}
#content1 h1 {
  margin-top: 6rem;
  font-size: 2rem;
  color:#CFFF8D;
  position: absolute;
    left: 20%;
    top: 10%;
    z-index: 0;
  
}

/* styling for right content area */

#mainContent{
    display: flex;
   max-height: 200px; 
}

#content2{
  padding: 0 9%;
}

/* style the images in the content2 div */
#content2 img {
    max-width: 100%;
    height: auto;
    display: block;
    
    
    margin: 0 auto;
  }
  
  /* add a container to the images to limit their size */
  .image-container {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }
  
 
  
  .grass img {
    object-fit: cover; /* adjust the way the image fits into the container */
    height: 70%; /* set the height of the image to 100% of the container */
    width: 60%; /* set the width of the image to 100% of the container */
    border-radius: 39px;
    opacity: 0.70;
  }
  .serviceHead{text-align: center;
    color: #fff;
    margin-top: 0;
  }
  .serviceHead h1{
    color: #fff;
    font-size:25px;
    
  }
  
  /* adjust the size of the smilingWoman image */
  .smilingWoman img {
    width: 20%;
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    top: 100px;
    border: 10px solid #000;
  }

  .row h5{
    color: #CFFF8D;
    font-size: 13.5px;
  }

  .card{
    color: #fff;
    border: none;
   
    
  text-align: center;
   
  }
  .workButton{
  margin-top: 2%;
  }
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0;
    font-family: Arial;
    color: #5F8D4E;
  
   background-color: #454545;
 
    border: solid #5F8D4E 2px;
    text-decoration: none;
    
  }
  ion-icon{
    margin-bottom: 1rem;
  }
  .btn:hover {
    background: #5F8D4E;
    text-decoration: none;
  }

.myBtn{
  padding: 0 9.4%;
}
 .serviceIcons{
  font-size: 1.6rem;
  color: #CFFF8D;
 }
 .galleryHeading{
  text-align: center;
  color: #454545;
  opacity: 0.8;
 }
 
 .galleryNav a{
  color:#454545 !important ;
 }
 .galleryNav{
   
  padding: 0 3%;
  border-radius: 0;
  
 }
#contactPage h1{
  color: #454545;
  opacity: 0.8;
}
#pricing{
  color: #454545;
  opacity: 0.8;
  text-align: center;
}

 #contactPage{
  padding: 2% 5%;

  text-align: center;
  
 }
 #contactPage h5{
  color: #454545;
  padding: 2%;
  
}

.emailBtn{
  background-color: #fff;
  width: 8rem;
  height: 3rem;
}
.emailIcon{
  font-size: 40px;
 height: 2rem;
  align-items: center;
  justify-content: center;
  color: #454545 ;

 }
 .contactForm{
  width: 50%;
  padding: 3%;
  text-align: left;
 }
 .contactForm .h5Start{
 color: #5F8D4E !important;
 }
 #contactBtns{
  align-items: center;
  justify-content: center;
  display: flex;
 }
 .wappBtn{
  margin-left: 2rem;
 }

 footer{
  border-top: 10px solid #CFFF8D;
  color: #fff;
  padding: 2% 10%;
  text-align: center;
   background-color: #454545;
 }
 .contactBtn2{
  border-radius: 0;
 }

 .footerIcon{
 font-size: 1.65rem;
 margin: 0 1rem;
 }

 .priceH1{
  color: #454545;
text-align: center;
opacity: 0.8;
}
#pricing{


  padding: 4% 10%;
}

#contactFlex{
  display: flex;
  padding: 3%;
}
.blankPage{

  width: 50%;
}
.map{
  border: 10px 0 solid #454545;
}

h2{
  
  color: #454545;
  border-radius: 0;
  padding: 0 3%;
}

#optPanel{
  display: flex;
}

.panel{
  margin-top: 0 !important;

}


.imageSize{
  height: 250px;
  width: 350px;
  overflow: hidden;
  border: 15px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, .3);
  margin: 20px;
}




#mediaBox{
  padding: 2% 4.75%;
  color: #454545;
 }

.image-container{
  box-sizing: border-box;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}


#mediaBox .controls{
align-items: center;

flex-wrap: wrap;
}
#mediaBox .controls .toggBtns{
padding: 3% 1.75%;
margin: 1.2rem 0;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  cursor: pointer;
 
  -webkit-user-select: none;
  user-select: none;
}

#mediaBox .controls .toggBtn{
  padding: 3% 1.75%;
  margin: 1.2rem 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }

#mediaBox .controls .toggBtns.active{
background-color: #C7F2A4;
color: #fff;
}

#mediaBox .controls .toggBtn.active{
  background-color: #C7F2A4;
  color: #fff;

  }
  

#mediaBox .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.links{
  cursor: pointer;
}

#back2 #list .links.active{
  text-decoration: underline 5px solid;
  color: #CFFF8D;
  
  }
.animate{
  animation: transitionIn 2s;
}

@keyframes transitionIn {

  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
  
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #454545;
}

.pricing-plan {
  flex: 1;
  color: #454545 !important;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  text-align: center;
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #454545 !important;
}

.plan-price {
  color: #454545;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 20px;
}
.twoImgs{
  display:contents;
}

@media (max-width: 960px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}

#pricing li{
  text-align: left;
  list-style:none;
  margin-left: 1rem;
}

#pricing p{
  margin-top: 2rem;
 
 
}
/* hmmm */
/* MOBILE RESPONSIVE */

.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  cursor: pointer;
  line-height: 80px;
  margin-right: 40px;
}
#check{
  display: none;
}

@media (max-width: 952px) {
  label.brand{
    font-size: 20px;
    padding-left: 50px;
  }
  nav ul li{
    font-size: 16px;
  }

}

@media (max-width: 952px) {

#content1 h1{
  text-align: center;
}
.link{
  margin: 0;
}
  #main{display: none;}
  .ujFlat{
    margin: 0;
    height: 140%;
    width: 100%;
    opacity: 0.9;
    
    
   
  }
#zIndex{
display:block;
position: initial;
width: 100%;
font-size: 15px;
    padding:0
}
#zIndex .btn{
  font-size: 15px;
}
#nav{width: 100%;
  margin: 0;
  padding: 0;
    position:sticky;
    
  -webkit-backdrop-filter:blur(8px);
backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.5)
}
.brand{
  font-size: 8px;
}


#zIndex::before {
left:0px;
  top: 300px;

}

#content1 h1 {
  margin-top: 3rem;
  font-size: 1.25rem;
max-width: 320px;
    left: 8%;
    top: 10%;
opacity:0.78
  
}


/* GALLERY */

.galleryHeading{
  font-size: 20px;
}
#mediaBox li{
  font-size: 16px;
}
#mediaBox h2{
  font-size: 16px;
}

.workBtn{
  display: none;
}
.serviceHead h1{
  font-size: 22px;
}

.imageSize{
  height: 150px;
  width: 180px;
  overflow: hidden;
  border: 8px solid #fff;
  box-shadow: 0 3px 5px rgba(0, 0, .3);
  margin: 10px;
}
.media-container{
  justify-content: center;
  align-items: center;
  display: block;
  flex-direction: column;
  
}
.media-container a:not(:last-child) {
  margin-right: 10%;
}

.twoImgs{
  margin-left:0;
  display:flex;
  width: 100%;
}
.twoImgs img {
  width: 100%;
  max-width: 100%;
}
#list{
display: flex;
text-align: center;
justify-content: space-between;
margin: 0;
margin-top: 0;
flex-wrap: nowrap;
}
.galleryNav{
  padding: 0;
 }
 .toggBtns{
  padding: 0;
  margin: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    cursor: pointer;
   
    -webkit-user-select: none;
    user-select: none;
  }

  

/* PACKAGES */


.pricing-plan{
  align-items:normal;
  width: 75%;
 
}


/* CONTACT */

iframe{
  height:250px;
  width:200%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#contactFlex{
  display: block;
}
.map{
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}
.contactForm{
  text-align: center;
  width: 100%;
}
#contactBtns ion-icon{
  font-size: 30px;
}
FOOTER
.footerIcon{
  font-size: 2rem;
  margin: 0 1rem;
}
}

/* NAVBARRR */
.checkBtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-left: 80%;
  cursor: pointer;
  display: none;
  
}
.navCheckBox{
   display: none;
}


@media screen and (max-width: 952px) {
  label.brand{
    font-size: 21px;
    padding: 0;
    margin: 0;
  }
 
  .row{
    margin-left:0 ;
    margin-right:0 ;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media screen and (max-width: 959px) {
  .checkBtn{
    display: block;
  }
 nav ul {
    position: absolute;
  width: 100%;
height: 100vh;
-webkit-backdrop-filter:blur(8px);
backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.5);
  
  top:80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}




#listB{
  display:block;
  text-align: center;
}
nav ul li {
  display: block;
  margin: 50px 0;
  line-height: 500%;
}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
  }
 nav .link a:hover{
    color: #000;
    transition: .5s;
    padding: 3% 7%;
    background-color: #fff;
  }
  #myCheckBox:checked~ul{
left: 0;
  }
}




.pricing {
  display: flex;
  justify-content: space-around;
  margin: 20px;
    background-color:#f0f0f0
  
}

.toggle-button {
  cursor: pointer;
  font-weight: bold;
  color: black;
    padding: 0 2%;
  border-radius: 10px;
      background-color:white;
    box-shadow:   0 3px 5px rgba(0, 0, .3);

}

.package {
  text-align: center;
  padding: 20px;
  background-color: #454545c7;
  color: #f0f0f0;
  border-radius: 2.3px;
  flex-basis: 30%;
  margin-bottom: 20px;
}

.package h3 {
  text-align: center;
}

.package ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.package p {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for mobile */
@media only screen and (max-width: 600px) {
  .pricing {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .package {
    flex-basis: 90%;
  }

  .package-details {
    display: none;
  }


    .toggle-button {
      cursor: pointer;
      font-weight: bold;
      color: #333333;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #f0f0f0;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }
    .toggle-button:hover {
      background-color: #e0e0e0;
    }
}
   @media only screen and (min-width: 601px) {
  .toggle-button {
    display: none;
  }
}
.package h3{
  color: #CFFF8D;
}


.common-info {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.common-info p {
  margin: 0;
  font-size: 16px;
  color: #333333;
}

.common-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.common-info ul li {
  margin-bottom: 10px;
  color: #333333;
  font-size: 14px;
}

.pricing {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.package {
  text-align: center;
  padding: 20px;
  background-color: #454545;
  color: #f0f0f0;
  border-radius: 10px;
  flex-basis: 30%;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.package:hover {
  transform: translateY(-5px);
}
